@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

/* dark-light theme css */
.dark-theme {
  background-color: #202124;
  color: #fff;
}

.light-theme {
  background-color: #f7f8fc;
  color: #001d35;
}
.dark-theme .icons img {
  filter: brightness(0) saturate(100%) invert(80%) sepia(3%) saturate(154%)
    hue-rotate(87deg) brightness(100%) contrast(90%);
}

.dark-theme .icons:hover,
.dark-theme .mail_hover_opt ul li:hover {
  outline: 10px solid #e9eef64f;
  background-color: #e9eef64f;
}
.dark-theme .all_mails_wrapper table tbody tr,
.dark-theme .footer_wrapper {
  background-color: #202124;
  color: #fff;
}
.dark-theme .mailer_name h6,
.dark-theme .mail_desc_preview p,
.dark-theme .mail_desc_preview span,
.dark-theme .time_and_date {
  color: #fff;
}
.dark-theme .sidebar_wrapper:is(h1, h2, h3, h4, h6, a, p) {
  color: #fff;
}
.dark-theme .mail_nav_tabs ul li img,
.dark-theme .starred img,
.dark-theme .side_menu_list img,
.dark-theme .header_icons img,
.dark-theme .pagination img,
.dark-theme .keyboard img,
.dark-theme .search_icon img,
.dark-theme .options img,
.dark-theme .footer_range img,
.dark-theme .mail_hover_opt ul li img {
  filter: brightness(0) saturate(100%) invert(80%) sepia(3%) saturate(154%)
    hue-rotate(87deg) brightness(100%) contrast(90%);
}
.dark-theme .mail_wrapper {
  border: 1px solid #e1e7ed40;
  background-color: #353537;
}
.dark-theme .header_wrapper {
  background-color: #353537;
  border-radius: 16px 16px 0 0;
}
.dark-theme .mail_nav_tabs,
.dark-theme .footer_wrapper,
.dark-theme .search {
  background-color: #353537;
}
.dark-theme .mail_nav_tabs ul,
.dark-theme .all_mails_wrapper table tbody tr {
  border-bottom: 1px solid #e1e7ed40;
}
.dark-theme .mail_nav_tabs ul li.nav_active a img,
.dark-theme .mail_nav_tabs ul li.nav_active a p {
  color: #fff;
  filter: brightness(0) invert(1);
}
.dark-theme .mail_nav_tabs ul li.nav_active::after {
  background-color: #fff;
}
.dark-theme .mail_nav_tabs ul li p,
.dark-theme .sidebar_menus ul li p,
.dark-theme .sidebar_menus ul li span,
.dark-theme .sidebar_menus.label_wrapper span,
.dark-theme .footer_wrapper p,
.dark-theme .policies a,
.dark-theme .activity a,
.dark-theme .footer_wrapper span,
.dark-theme .page_numberlist {
  color: #c4c7c5;
}
.dark-theme .menu_active {
  background-color: #353537;
}
.dark-theme .hamburger span {
  background-color: #c4c7c5;
}
.dark-theme .context_menu {
  background-color: #202124;
  border: 1px solid #e1e7ed40;
}
.dark-theme .context_menu ul li {
  border-bottom: 1px solid #e1e7ed40;
}
.dark-theme .context_menu ul li a {
  color: #c4c7c5;
}
.dark-theme .read .mail_hover_opt,
.dark-theme .unread .mail_hover_opt {
  background-color: #202124;
  border-bottom: 1px solid #e1e7ed40;
}
.dark-theme .top_search {
  color: #fff;
}
.dark-theme input[type="checkbox"] {
  background-color: #444 !important;
  border-color: #ccc;
}
.dark-theme .profile {
  border: 1px solid #e1e7ed40;
  border-radius: 50%;
}
.dark-theme .logo_dark {
  display: block;
}
.dark-theme .logo_light {
  display: none;
}
/* dark-light theme css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  width: 100%;
  font-family: "Roboto", sans-serif;
  background-color: #f7f8fc;
  transition: background-color 0.3s, color 0.3s;
  position: relative;
}

ul li,
ol li {
  list-style-type: none;
}
.gmail_wrapper {
  display: flex;
  justify-content: end;
}
.menu_wrapper {
  display: flex;
  align-items: center;
  gap: 83px;
}
.menu_logo {
  display: flex;
  align-items: center;
}
.hamburger {
  width: 24px;
  height: 24px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-right: 16px;
  border-style: none;
  background: none;
  cursor: pointer;
}
.hamburger span {
  background-color: #5f6368;
  height: 3px;
  display: block;
}
.logo {
  width: 109px;
}
.logo img {
  width: 100%;
}
.logo_dark {
  display: none;
}
.logo_light {
  display: block;
}
.navbar_top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 11px 24px 13px 24px;
}
.search {
  max-width: 716px;
  width: 100%;
  background-color: #e9f1fb;
  height: 46px;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.search > div {
  display: flex;
  align-items: center;
  justify-content: start;
}
.top_search {
  border: none;
  background-color: transparent;
  padding-left: 8px;
  height: 24px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #5e5e5e;
}
.top_search:focus-visible {
  outline: none;
}
.top_search::placeholder {
  color: #5e5e5e;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 1%;
  text-align: left;
}
.search_icon,
.options {
  width: 24px;
}
.search_icon img,
.options img {
  width: 100%;
  object-fit: scale-down;
}
.search form {
  width: 620px;
}
.search form .top_search {
  width: 100%;
}
.gmail_lists {
  display: flex;
  align-items: center;
  gap: 20px;
}
.profile {
  width: 32px;
  height: 32px;
}
.profile img {
  width: 100%;
  border-radius: 50%;
}
.icons {
  width: 24px;
  height: 24px;
  transition: 0.1s all ease-in;
}
.icons img {
  width: 100%;
}
.icons:hover,
.options:hover,
.mail_hover_opt ul li:hover {
  outline: 10px solid #e9eef6;
  border-radius: 50%;
  background-color: #e9eef6;
}
/* sidebar */
.sidebar_wrapper {
  max-width: 256px;
  width: 100%;
  height: auto;
  position: fixed;
  left: 0;
  top: 64px;
  transition: transform 0.3s ease-in-out;
}
.sidebar_wrapper.closed {
  transform: translateX(-100%);
}
.sidebar.open {
  transform: translateX(0);
}
.compose_btn {
  background-color: #c1e7fe;
  max-width: 142px;
  width: 100%;
  height: 60px;
  border-radius: 16px;
  margin: 8px;
  transition: box-shadow 0.3s ease;
}
.compose_btn:hover {
  box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.3),
    0 4px 8px 3px rgba(60, 64, 67, 0.15);
  background-color: #c1e7fe;
}
.compose_btn button {
  width: 100%;
  border-style: none;
  background-color: transparent;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  cursor: pointer;
}
.compose_btn button h6 {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  line-height: 20px;
  letter-spacing: 2%;
  font-weight: 600;
  color: #001d35;
}
.sidebar_menus {
  max-width: 240px;
  width: 100%;
  margin: 16px 0 0 0;
}
.side_menu_list {
  display: flex;
  gap: 18px;
  width: 100%;
  align-items: center;
}
.sidebar_menus ul {
  max-width: 240px;
  width: 100%;
}
.sidebar_menus ul li {
  padding: 6px 20px 6px 24px;
}
.side_menu_list img {
  width: 20px;
  height: 20px;
  object-fit: scale-down;
}
.sidebar_menus ul li:hover {
  background-color: #80808014;
  border-radius: 50px;
}
.sidebar_menus ul li a {
  display: flex;
  align-items: center;
  max-width: 216px;
  gap: 10px;
}
.sidebar_menus ul li a p,
.notify_numbers {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: #202124;
}
.sidebar_menus ul li a span {
  min-width: 25px;
  text-align: right;
}
.menu_active {
  background-color: #d3e2fd;
  border-radius: 0px 50px 50px 0;
  color: #001d35;
  font-weight: 600;
}
.sidebar_menus.label_wrapper {
  margin-top: 24px;
}
.label_heading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 16px 24px;
}
.sidebar_menus.label_wrapper ul li {
  padding-right: 10px;
}
.notify_numbers.three_dots {
  margin-top: -6px;
  visibility: hidden;
}
/* sidebar */

/* mail */
.mail_wrapper {
  max-width: calc(100% - 17rem);
  width: 70%;
  background-color: #fff;
  flex-grow: 1;
  border-radius: 16px;
  height: calc(100vh - 6rem);
  margin-inline: 16px;
  transition: 0.3s all ease-in-out;
  position: relative;
}
.mail_wrapper.expand {
  max-width: unset;
  width: 100%;
}
.header_wrapper {
  padding: 16px 16px 32px 16px;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_icons {
  max-width: 120px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}
.all_checkbox {
  display: flex;
  align-items: center;
  width: 40px;
  justify-content: center;
  gap: 5px;
}
.all_checkbox input {
  width: 16px;
  height: 16px;
}
#check-dropdown {
  background: url("/public/images/arrow-filled.png") no-repeat;
  background-size: cover;
  width: 8px;
  height: 4px;
}
.refresh_btn,
.three_dots {
  width: 20px;
  height: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.refresh_btn img,
.three_dots img {
  width: 100%;
  object-fit: scale-down;
}
.all_checkbox form,
.refresh_btn a {
  line-height: 0;
}
.all_mails_wrapper table {
  display: grid;
}
.all_mails_wrapper table tbody tr {
  width: 100%;
  padding: 10px 16px 12px 16px;
  display: flex;
  border-bottom: 1px solid #e1e7ed;
  position: relative;
  align-items: center;
  justify-content: start;
  gap: 20px;
  cursor: pointer;
}
.all_mails_wrapper table tbody tr:hover {
  box-shadow: inset 1px 0 0 rgb(218, 220, 224),
    inset -1px 0 0 rgb(218, 220, 224), 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
}
.all_mails_wrapper table tbody tr:hover .mail_hover_opt {
  opacity: 1;
}
.mailer_name {
  max-width: 168px;
  width: 15%;
}
.mailer_name h6 {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  color: #202124;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.mail_desc_preview {
  max-width: 1024px;
  width: 65%;
}
.mail_desc_preview p {
  color: #65696d;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  line-height: 20px;
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
  width: 100%;
}
.mail_desc_preview p span {
  font-weight: bold;
  color: #202124;
}
.time_and_date {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  line-height: 18px;
  text-align: right;
  color: #65696d;
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}
.mail_nav_tabs ul {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  border-bottom: 1px solid #e1e7ed;
}
.mail_nav_tabs ul li {
  max-width: 235px;
  width: 100%;
  height: 39px;
  position: relative;
}
.mail_nav_tabs ul li.nav_active::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #0957d0;
  position: absolute;
  bottom: 0;
  left: 8px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.mail_nav_tabs ul li a {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-left: 22px;
}
.mail_nav_tabs ul li a p {
  color: #444746;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}
.mail_nav_tabs ul li a img {
  width: 20px;
  height: 20px;
  object-fit: scale-down;
}
.mail_nav_tabs ul li.nav_active a p {
  color: #0957d0;
}
.mail_nav_tabs ul li.nav_active a img {
  filter: brightness(0) saturate(100%) invert(19%) sepia(54%) saturate(4766%)
    hue-rotate(213deg) brightness(95%) contrast(93%);
}
.starred {
  width: 20px;
  height: 20px;
}
.starred img {
  width: 100%;
}
.footer_wrapper {
  width: 100%;
  /* position: absolute;
  bottom: 0; */
  padding: 16px 16px 30px 16px;
  z-index: 1;
  background-color: #fff;
  border-radius: 0 0 16px 16px;
}
.footer_lists {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.footer_wrapper a,
.activity p,
.footer_range p,
.footer_range span {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  color: grey;
}
.footer_range p {
  padding-top: 6px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.activity {
  text-align: right;
}
.policies {
  display: flex;
  gap: 5px;
}
/* Remove default styles */
.footer_range input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 220px;
  height: 6px;
  border-radius: 5px;
  background: linear-gradient(to right, #5c5c5c 50%, #ddd 50%);
  transition: background 0.3s;
  outline: none;
  overflow: hidden;
}

/* Hide default thumb (Chrome, Safari) */
.footer_range input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0;
  height: 0;
}

/* Hide default thumb (Firefox) */
.footer_range input[type="range"]::-moz-range-thumb {
  width: 0;
  height: 0;
}

/* Custom Track (Chrome, Safari) */
.footer_range input[type="range"]::-webkit-slider-runnable-track {
  background: transparent;
  height: 6px;
  border-radius: 5px;
}

/* Custom Track (Firefox) */
.footer_range input[type="range"]::-moz-range-track {
  background: transparent;
  height: 6px;
  border-radius: 5px;
}
.context_menu {
  position: absolute;
  max-width: 300px;
  width: 100%;
  background-color: #fff;
  box-shadow: -19px 8px 10px 1px rgba(0, 0, 0, 0.14),
    0px 3px 14px 2px rgba(0, 0, 0, 0.12), 0px 5px 5px -3px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  line-height: 20px;
  border: none;
  z-index: 100;
}
.context_menu ul li {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  padding: 7px 48px;
  border-bottom: 1px solid #e1e7ed;
}
.context_menu ul li:last-child {
  border-bottom: 0;
}
.context_menu ul li a {
  color: grey;
}
.read,
.read .mail_hover_opt {
  background-color: #f2f6fc;
}
.unread .mail_hover_opt {
  background-color: #fff;
}
.read .mail_desc_preview span,
.read .mailer_name h6 {
  font-weight: normal;
}
.all_mails_wrapper table tbody {
  max-height: 600px;
  overflow-y: auto;
}
.mail_hover_opt {
  position: absolute;
  right: 0px;
  top: 1px;
  background-color: #f2f6fc;
  z-index: 10;
  height: 100%;
  width: 200px;
  border-bottom: 1px solid #e1e7ed;
  opacity: 0;
  transition: opacity 0.3s ease-in;
}
.mail_hover_opt ul {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 30px;
}
.mail_hover_opt ul li {
  width: 20px;
  height: 20px;
}
.mail_hover_opt ul li a img {
  width: 100%;
}
.mail_nav_tabs {
  transition: transform 0.3s ease-in;
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.page-btn,
.key-btn {
  border-style: none;
  background-color: transparent;
  width: 20px;
  height: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.page-btn img {
  width: 100%;
  object-fit: scale-down;
}
.page-btn.left {
  transform: rotate(180deg);
}
.page_numberlist {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  line-height: 18px;
  color: grey;
  text-align: left;
  padding: 0 5px;
}
.head_right_side {
  display: flex;
  align-items: center;
  gap: 20px;
}
.keyboard {
  display: flex;
  align-items: center;
}
/* mail */

/* Default light mode checkbox */
input[type="checkbox"] {
  width: 16px;
  height: 16px;
  appearance: none;
  border: 2px solid #999;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  background-color: white;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

/* Dark mode checkbox */
.dark-theme input[type="checkbox"],
.dark-theme .all_checkbox input[type="checkbox"] {
  background-color: #444;
  border-color: #ccc;
}
.all_checkbox input[type="checkbox"] {
  border-color: #202124;
}
/* Checked state */
input[type="checkbox"]:checked {
  background-color: transparent;
  border-color: #babec1;
}

/* Dark mode checked */
.dark-theme input[type="checkbox"]:checked {
  background-color: transparent;
  border-color: #babec1;
}

/* Custom checkmark */
input[type="checkbox"]::after {
  content: url("/./public/images/check-mark.png");
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -44%);
  display: none;
}
.dark-theme input[type="checkbox"]::after {
  filter: brightness(0) invert(1);
}

/* Show checkmark when checked */
input[type="checkbox"]:checked::after {
  display: block;
}

.compose_mob_btn {
  display: none;
}
.compose_web_btn {
  display: block;
}

/* responsive css starts */
@media (max-width: 1200px) {
  .search {
    width: 50%;
  }
  .search > div {
    width: 60%;
  }
  .all_mails_wrapper table tbody {
    max-height: 500px;
  }
  .gmail_lists {
    gap: 20px;
  }
  .menu_wrapper {
    width: 80%;
  }
  .sidebar_wrapper {
    max-width: 246px;
  }
  .compose_btn {
    height: 50px;
  }
}
@media (max-width: 1024px) {
  .gmail_lists {
    gap: 15px;
  }
  .all_mails_wrapper table tbody tr {
    gap: 12px;
    align-items: baseline;
  }
  .footer_lists {
    align-items: baseline;
  }
  .policies {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer_range input[type="range"] {
    width: 180px;
  }
  .footer_wrapper {
    padding-inline: 8px;
  }
  .menu_wrapper {
    width: 75%;
  }
}
@media (max-width: 991px) {
  .compose_mob_btn {
    display: block;
    position: absolute;
    left: 20px;
    top: calc(100% - 9.7rem);
    z-index: 10;
  }
  .compose_web_btn {
    display: none;
  }
}
@media (max-width: 675px) {
  .all_mails_wrapper table tbody tr{
    flex-wrap: wrap;
  }
  .gmail_lists {
    /* display: none; */
    position: fixed;
    bottom: 0;
    background: #fff;
    z-index: 12;
    width: 100%;
    left: 0;
    right: 0;
    justify-content: space-between;
    padding: 10px;
  }
  .footer_wrapper {
    display: none;
  }
  .all_mails_wrapper table tbody {
    max-height: unset;
  }
  .mailer_name{
    width: unset;
  }
  .time_and_date{
    top: 30%;
  }
  .mail_desc_preview{
    width: 85%;
  }
  .pagination_wrapper{
    display: none;
  }
  .menu_wrapper{
    gap: 0;
    width: 85%;
  }
  .logo{
    display: none;
  }
  .search{
    width: 100%;
  }
  .mail_hover_opt{
    display: none;
  }
}
/* responsive css ends */
